<a href="https://colab.research.google.com/github/mohit747/Deep_learning/blob/main/Time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = pd.read_excel('superstore.xls')

In [3]:
data.set_index('Row ID', inplace=True)
data.head()

              Order ID Order Date  Ship Date  ... Quantity Discount    Profit
Row ID                                        ...
1       CA-2016-152156 2016-11-08 2016-11-11  ...        2     0.00   41.9136
2       CA-2016-152156 2016-11-08 2016-11-11  ...        3     0.00  219.5820
3       CA-2016-138688 2016-06-12 2016-06-16  ...        2     0.00    6.8714
4       US-2015-108966 2015-10-11 2015-10-18  ...        5     0.45 -383.0310
5       US-2015-108966 2015-10-11 2015-10-18  ...        2     0.20    2.5164

[5 rows x 20 columns]

In [4]:
data.columns
# from below-> x axis=> order data!
# from below-> y axis=> Sales, Quantity, Discount, Profit....
# let's select Sales

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [5]:
mydata = data.loc[:, ['Order Date','Sales']]
mydata.head()

       Order Date     Sales
Row ID
1      2016-11-08  261.9600
2      2016-11-08  731.9400
3      2016-06-12   14.6200
4      2015-10-11  957.5775
5      2015-10-11   22.3680

In [6]:
# TO machine learn this data, all values of X must be distinctly present
mydata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9994 entries, 1 to 9994
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order Date  9994 non-null   datetime64[ns]
 1   Sales       9994 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 234.2 KB

In [7]:
print(mydata['Order Date'].min())
print(mydata['Order Date'].max())

2014-01-03 00:00:00
2017-12-30 00:00:00

In [8]:
mydata['Order Date'].value_counts()
# from below output-> there is repeatation

2016-09-05    38
2017-09-02    36
2016-11-10    35
2017-12-01    34
2017-12-02    34
              ..
2015-01-26     1
2015-05-09     1
2014-11-06     1
2017-01-09     1
2015-12-16     1
Name: Order Date, Length: 1237, dtype: int64

In [9]:
data_grouped = mydata.groupby('Order Date')
data_grouped = data_grouped['Sales'].sum().reset_index()
data_grouped.tail()

     Order Date      Sales
1232 2017-12-26   814.5940
1233 2017-12-27   177.6360
1234 2017-12-28  1657.3508
1235 2017-12-29  2915.5340
1236 2017-12-30   713.7900

In [10]:
newdata = mydata.set_index('Order Date')
y = newdata['Sales'].resample('MS').mean() # average sales of month will be a BETTER prediction than TOTAL sales 
y.head()

Order Date
2014-01-01    180.213861
2014-02-01     98.258522
2014-03-01    354.719803
2014-04-01    209.595148
2014-05-01    193.838418
Freq: MS, Name: Sales, dtype: float64

In [11]:

len(y)
# ALL values of X are now represented!
#total data-> 2014 to 2017> 4 years
# total data-> 4 years X 12 = 48

48

In [12]:
y =  newdata['Sales'] 
x = mydata.index

In [13]:
import tensorflow as tf
from tensorflow import keras

In [14]:
layer1 = keras.layers.Dense(16, activation = tf.nn.relu)
layer2 = keras.layers.Dense(64, activation = tf.nn.relu)
layer3 = keras.layers.Dense(1)

In [15]:

model = keras.models.Sequential([layer1,layer2,layer3])

In [16]:
myoptimizer = tf.optimizers.Adam(learning_rate=0.01)
model.compile(loss=tf.losses.mae, optimizer=myoptimizer)

In [17]:
model.fit(x, y, epochs=30, verbose = 0)

WARNING:tensorflow:Keras is training/fitting/evaluating on array-like data. Keras may not be optimized for this format, so if your input data format is supported by TensorFlow I/O (https://github.com/tensorflow/io) we recommend using that to load a Dataset instead.

In [18]:
predictions = model.predict(x)

WARNING:tensorflow:Keras is training/fitting/evaluating on array-like data. Keras may not be optimized for this format, so if your input data format is supported by TensorFlow I/O (https://github.com/tensorflow/io) we recommend using that to load a Dataset instead.

In [19]:
print(x[5])
print(y[5])
print(predictions[5])

6
48.86
[85.20986]

In [20]:
predictions[:5]

array([[98.419945],
       [95.779785],
       [93.13962 ],
       [90.49946 ],
       [87.857704]], dtype=float32)

In [21]:
y[:5]

Order Date
2016-11-08    261.9600
2016-11-08    731.9400
2016-06-12     14.6200
2015-10-11    957.5775
2015-10-11     22.3680
Name: Sales, dtype: float64